<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Script - Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/script-services.css' %}">
    <link rel="stylesheet" href="{% static 'css/script-navbar.css' %}">
  </head>
  <body>
    <div class="container">
        <div class="navbar">
          <div class="menu">
            <h3 class="logo">Scalp<span>ture</span></h3>
            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </div>

        <div class="main-container">
            <video autoplay loop muted playsinline id="bg-video">
              <source src="{% static 'videos/hogwarts.mp4' %}" type="video/mp4">
            </video>   
            <div class="main">
              <header>
                <div class="overlay">
                  <div class="inner">
                    <div id="scripts" class="scripts wf-section">
                          <div class="homepage-stores">
                            <div class="store">
                              <a href="/game">
                              <div class="collection-item">
                                <div class="item-block">
                                  <img src="{% static 'images/script/logo-game.png' %}" loading="lazy" alt="" class="image-26">
                                  <div class="card-back">
                                    <div class="card-back-info">
                                      <h4 class="card-title"><span class="title-b">GAME SCRIPT</span></h4>
                                      <h3 class="card-tags">UK</h3>
                                      <div class="open-modal">
                                        <div class="text-block-26">USE SCRIPT</div>
                                        <div class="html-embed-6 w-embed">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                            <line x1="16" y1="13" x2="8" y2="13"></line>
                                            <line x1="16" y1="17" x2="8" y2="17"></line>
                                            <polyline points="10 9 9 9 8 9"></polyline>
                                          </svg>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </a>
                            </div>
                            <div class="store">
                              <a href="/gamestop">
                              <div class="collection-item">
                                <div class="item-block">
                                  <img src="{% static 'images/script/GameStop-logo.png' %}" loading="lazy" alt="" class="image-26">
                                  <div class="card-back">
                                    <div class="card-back-info">
                                      <h4 class="card-title"><span class="title-b">GAMESTOP SCRIPT</span></h4>
                                      <h3 class="card-tags">US / CA / IE</h3>
                                      <div class="open-modal">
                                        <div class="text-block-26">USE SCRIPT</div>
                                        <div class="html-embed-6 w-embed">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                            <line x1="16" y1="13" x2="8" y2="13"></line>
                                            <line x1="16" y1="17" x2="8" y2="17"></line>
                                            <polyline points="10 9 9 9 8 9"></polyline>
                                          </svg>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </a>
                            </div>
                            <div class="store">
                              <a href="/amazon">
                              <div class="collection-item">
                                <div class="item-block">
                                  <img src="{% static 'images/script/amazon-logo.svg' %}" loading="lazy" alt="" class="image-26">
                                  <div class="card-back">
                                    <div class="card-back-info">
                                      <h4 class="card-title"><span class="title-b">AMAZON SCRIPT</span></h4>
                                      <h3 class="card-tags">UK / US / CA</h3>
                                      <div class="open-modal">
                                        <div class="text-block-26">USE SCRIPT</div>
                                        <div class="html-embed-6 w-embed">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                            <line x1="16" y1="13" x2="8" y2="13"></line>
                                            <line x1="16" y1="17" x2="8" y2="17"></line>
                                            <polyline points="10 9 9 9 8 9"></polyline>
                                          </svg>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </a>
                            </div>
                            <div class="store">
                              <a href="/playstation-direct">
                              <div class="collection-item">
                                <div class="item-block">
                                  <img src="{% static 'images/script/playstation-direct-logo.png' %}" loading="lazy" alt="" class="image-26">
                                  <div class="card-back">
                                    <div class="card-back-info">
                                      <h4 class="card-title"><span class="title-b">PLAYSTATION DIRECT SCRIPT</span></h4>
                                      <h3 class="card-tags">UK / US / CA</h3>
                                      <div class="open-modal">
                                        <div class="text-block-26">USE SCRIPT</div>
                                        <div class="html-embed-6 w-embed">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                            <line x1="16" y1="13" x2="8" y2="13"></line>
                                            <line x1="16" y1="17" x2="8" y2="17"></line>
                                            <polyline points="10 9 9 9 8 9"></polyline>
                                          </svg>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </a>
                            </div>
                            <div class="store">
                              <a href="/very">
                              <div class="collection-item">
                                <div class="item-block">
                                  <img src="{% static 'images/script/very-logo.png' %}" loading="lazy" alt="" class="image-26">
                                  <div class="card-back">
                                    <div class="card-back-info">
                                      <h4 class="card-title"><span class="title-b">VERY SCRIPT</span></h4>
                                      <h3 class="card-tags">UK</h3>
                                      <div class="open-modal">
                                        <div class="text-block-26">USE SCRIPT</div>
                                        <div class="html-embed-6 w-embed">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                            <line x1="16" y1="13" x2="8" y2="13"></line>
                                            <line x1="16" y1="17" x2="8" y2="17"></line>
                                            <polyline points="10 9 9 9 8 9"></polyline>
                                          </svg>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </a>
                            </div>                
                  </div>
                </div>
              </header>
            </div>
    
            <div class="shadow one"></div>
            <div class="shadow two"></div>
          </div>
    
        <div class="links">
          <ul class="nav-links">
            <li>
              <a href="/" style="--i: 0.05s;">Home</a>
            </li>
            <li>
              <a href="#" style="--i: 0.25s;">About</a>
            </li>
            <li>
              <a href="/game" style="--i: 0.1s;">Game Script Service</a>
            </li>
            <li>
              <a href="/gamestop" style="--i: 0.1s;">GameStop Script Service</a>
            </li>
            <li>
              <a href="/amazon" style="--i: 0.1s;">Amazon Script Service</a>
            </li>
            <li>
              <a href="/playstation-direct" style="--i: 0.1s;">Playstation Direct Script Service</a>
            </li>
            <li>
              <a href="/very" style="--i: 0.1s;">Very Script Service</a>
            </li>
          </ul>
        </div>
        </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/hamburger.menu.js' %}"></script>
</body>
</html>
